* {
    margin: 0px;
}

body{
    background-color: grey;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: normal;
}


p{
    font-family: 'Sacramento', cursive;
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Porter Sans Block';
    src: url(../assets/Fonts/porter-sans-inline-block-webfont.woff) format("woff");
}


.localFont p{
    font-family: 'Porter Sans Block';
    font-size: 20px;
    color: rgb(255, 225, 0);
}


.backgroundImg{
    width: 100%;
    height: 500px;
    text-align: center;
    background-image: url(../assets/images/homeGallery1.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(255, 225, 0);
}

.backgroundImg p{
    padding: 0px 2em;
}

.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

















.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
